<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">

            <a href="index.html" class="logo">
                <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20">
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>

        </div>
        <!-- End Logo Header -->	
    </div>	
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav">
                <li *ngFor="let item of sideMenuData" class="nav-item">
                  <!-- Si el menú tiene submenús -->
                  <ng-container *ngIf="item.subMenu && item.subMenu.length > 0; else singleItem">
                    <a data-bs-toggle="collapse" [href]="'#' + item.route" class="collapsed" aria-expanded="false">
                      <i class="fas" [ngClass]="item.icon"></i>
                      <p>{{ "SideMenu."+item.namei18n | translate }}</p>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" [id]="item.route">
                      <ul class="nav nav-collapse">
                        <li *ngFor="let sub of item.subMenu">
                          <a [routerLink]="sub.route">
                            <span class="sub-item">{{ "SideMenu."+sub.namei18n | translate }}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </ng-container>
              
                  <!-- Si el menú no tiene submenús -->
                  <ng-template #singleItem>
                    <a [routerLink]="item.route">
                      <i class="fas" [ngClass]="item.icon"></i>
                      <p>{{ item.namei18n }}</p>
                    </a>
                  </ng-template>
                </li>
              </ul>

              

            <ul class="nav nav-secondary">

                <li class="nav-item">
                    <a href="/user-management/users">
                        <i class="fas fa-users"></i>
                        <p>Usuarios</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/user-management/roles">
                        <i class="fas fa-pencil-square"></i>
                        <p>Roles</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/booking/booking">
                        <i class="fas fa-users"></i>
                        <p>Reservas</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/catalog/list">
                        <i class="fas fa-users"></i>
                        <p>Catalogos</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>